<html>
<head>
  <title><%=title%></title>

  <script src="/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">

</head>
<body>

<%=ajaxUrl%>
<p>Choose a Ethnicity Classifier and see SNPs needed</p>
<p>----</p>

<form>
    Continental:
    <input type="radio" id="input_1" name="Classifier" value="Continental" /><br/>
    <span id="1">ClicK to see SNPs.</span>
    <p>----</p>

    Subcontinental-East Asian:
    <input type="radio" id="input_2" name="Classifier" value="East Asian" /><br/>
    <span id="2">ClicK to see SNPs.</span>
    <p>----</p>

    Subcontinental-African:
    <input type="radio" id="input_3" name="Classifier" value="African" /><br/>
    <span id="3">ClicK to see SNPs.</span>
    <p>----</p>

    Subcontinental-Kenyan:
    <input type="radio" id="input_4" name="Classifier" value="Kenyan" /><br/>
    <span id="4">ClicK to see SNPs.</span>
    <p>----</p>

</form>
<form method="post"  action="dtree.json" enctype='multipart/form-data'>
    <table>
        <tr>
            <td >Select your File</td>
        </tr>
        <tr>
            <td><input type="file" name="csvFile"/></td>
        </tr>

        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
<script type="text/javascript">
$( document ).ready(function() {
    //alert( "ready!" );
    var elm1 = $('#input_1');
    alert('run');
    elm1.on('click', function () {
      //alert("Run");
      $('#1').text("SNPs for 1");
    });
    var elm2 = $('#input_2');
    elm2.on('click', function () {
      //alert("Run");
      $('#2').text("SNPs for 2");
    });
    var elm3 = $('#input_3');
    elm3.on('click', function () {
      //alert("Run");
      $('#3').text("SNPs for 3");
    });
    var elm4 = $('#input_4');
    elm4.on('click', function () {
      //alert("Run");
      $('#4').text("SNPs for 4");
    });
    //document.getElementById("1").innerHTML="SNPs for 1";
    //document.getElementById("2").innerHTML="SNPs for 2";
});

</script>

</html>
